extends ./parts/layout.jade

block content
	article
			h1 MeanListApp
			p Create, share and complete your lists.
		
	section
		form(action="/login",method="GET")
			h2 Start your list
			p
				input(placeholder="Add an item...")
			p
				input(type="submit",value="add")