doctype html
html(lang="en",ng-app="app")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		title MeanListApp
		link(rel="stylesheet",href="/styles/app.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js")
		script(src="/scripts/app.js")
	body(id="AppCtrl",ng-controller="AppCtrl",ng-init="initApp( '"+user.username+"' )")
		header
			h1
				a(href="/") MeanListApp
			nav
				case user
					when false
						a(href="/login") Login
						a(href="/register") Register
					default
						a(href="/") My Lists
						a(href="/logout") Logout

		article(ng-if="user",ng-hide="listID")
			h1 My Lists
			ul
				li(ng-repeat="list in lists")
					a(ng-click="loadList(list._id)") {{list.title}}
			form(ng-submit="addList()")
				p
					label(for="title") title
					input(name="title",type="text",ng-model="newList.title")
				p
					input(type="submit",value="Create new List")
		article(ng-if="user",ng-show="listID")
			h1: {{list.title}}
			ul
				li(ng-repeat="item in items",ng-click="completeItem($index)")
					{{item.title}}
					button(ng-click="deleteItem($index);$event.stopPropagation()") &times;
			form(ng-submit="addItem()")
				p
					label(for="title") title
					input(name="title",type="text",ng-model="newItem.title")
				p
					label(for="description") description
					input(name="description",type="text",ng-model="newItem.description")
				p
					input(type="submit",value="Add new Item")
		
		article(ng-hide="user")
				h1 MeanListApp
				p Create, share and complete your lists.
		
		article#login(ng-hide="user")
			form(method="post",action="login")
				h2 Sign In
				p Create, share and complete your lists.
				p
					label(for="username") Username
					input(name="username",type="text",placeholder="Username")
				p
					label(for="password") Password
					input(name="password",type="password",placeholder="Password")
				p
					input(type="submit",value="Login")
		
		article#register(ng-hide="user")
			form(method="post",action="register")
				h2 Register
				p
					label(for="name") Name
					input(name="name",type="text",placeholder="John Smith")
				p
					label(for="email[]") Email
					input(name="email[]",type="email",placeholder="John@email.com")
				p
					lanel(for="username") Username
					input(name="username",type="text",placeholder="Username")
				p
					label(for="password") Password
					input(name="password",type="password",placeholder="Password")
				p
					input(type="submit",value="Login")