extends ./parts/layout.jade

block content
	div(id="AppCtrl",ng-controller="AppCtrl",ng-init="initApp( '"+user.username+"' )")
		article(ng-hide="listID")
			h1 My Lists
			ul
				li(ng-repeat="list in lists")
					a(ng-click="loadList(list._id)") {{list.title}}
			form(ng-submit="addList()")
				p
					label(for="title") title
					input(name="title",type="text",ng-model="newList.title")
				p
					input(type="submit",value="Create new List")
		article(ng-show="listID")
			h1: {{list.title}}
			ul
				li(ng-repeat="item in items")
					{{item.title}}
					button(ng-click="deleteItem($index)") &times;
			form(ng-submit="addItem()")
				p
					label(for="title") title
					input(name="title",type="text",ng-model="newItem.title")
				p
					label(for="description") description
					input(name="description",type="text",ng-model="newItem.description")
				p
					input(type="submit",value="Add new Item")