extends ./parts/layout.jade

block content
	.container(id="AppCtrl",ng-controller="AppCtrl",ng-init="initApp( '"+user.username+"' )")
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading
						h1.panel-title My Lists
					ul.list-group
						li.list-group-item(ng-repeat="list in lists")
							a(ng-click="loadList(list._id)") {{list.title}}
					.panel-footer
						form(ng-submit="addList()")
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-plus
								input.form-control(ng-model="newList.title")
								span.input-group-btn
									input.btn.btn-primary(type="submit",value="add")
			.col-md-6
				.panel.panel-default(ng-show="listID")
					.panel-heading
						h1.panel-title: {{list.title}}
					ul.list-group
						li.list-group-item(ng-repeat="item in items")
							.badge.del(ng-click="deleteItem($index)") &times;
							| {{item.title}}
					.panel-footer
						form(ng-submit="addItem()")
							.input-group
								span.input-group-addon
									span.glyphicon.glyphicon-plus
								input.form-control(ng-model="newItem.title")
								span.input-group-btn
									input.btn.btn-primary(type="submit",value="add")