extends ./parts/layout.jade

block content
	.container
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
				form(method="post",action="login")
					h2 Sign In
					p Create, share and complete your lists.
					p
						.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-user
							input.form-control(name="username",type="text",placeholder="Username")
					p
						.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-lock
							input.form-control(name="password",type="password",placeholder="Password")
					p
						input.btn.btn-primary.pull-right(type="submit",value="Login")