extends ./parts/layout.jade

block content
	article
		form(method="post",action="register")
			h2 Register
			p
				label(for="name") Name
				input(name="name",type="text",placeholder="John Smith")
			p
				label(for="email[]") Email
				input(name="email[]",type="email",placeholder="John@email.com")
			p
				lanel(for="username") Username
				input(name="username",type="text",placeholder="Username")
			p
				label(for="password") Password
				input(name="password",type="password",placeholder="Password")
			p
				input(type="submit",value="Login")