extends ./parts/layout.jade

block content
	.container(ng-controller="UserCtrl")
		h1
			a(href="/users") Users
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
				.panel.panel-default
					ul.list-group
						li.list-group-item(ng-repeat="user in users")
							a(href="/users/{{user.username}}") {{user.name}}