.modal.fade#loginModal(tabindex="-1",role="dialog",aria-labelledby"loginModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Close"): span(aria-hidden="true") &times;
			.modal-body
				form(action="/login",method="post",style="padding:1em;width:300px")
					p
						.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-user
							input.form-control(name="username",type="text",placeholder="Username")
					p
						.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-lock
							input.form-control(name="password",type="password",placeholder="Password")
					p
						input.btn.btn-primary.pull-right(type="submit",value="Login")
			.modal-footer
				button.btn.btn-default(type="button",data-dismiss="modal") Close
				button.btn.btn-primary(type="button") Submit

script(src="https://code.jquery.com/jquery-2.1.4.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js")
script(src="/scripts/app.js")