.panel.panel-default
	ul.list-group
		li.list-group-item(ng-repeat="item in items")
			.container(data-done="{{item.done ? 'done' : 'undone' }}")
				button.btn.btn-small(ng-click="deleteItem($index)") &times;
				| {{item.title}}
	.panel-footer
		form(ng-submit="addItem()")
			.input-group
				span.input-group-addon
					span.glyphicon.glyphicon-plus
				input.form-control(ng-model="newItem.title")
				span.input-group-btn
					input.btn.btn-primary(type="submit",value="add")