.navbar-inverse {
	background-color: #087;
	background-image: linear-gradient(#0cb, #087);
}
.navbar-text.navbar-right {
	margin-right: 15px;
}
.badge.del {
	cursor: pointer;
}
a {
	color: #087;
}
a:visited {
	color: #5c706f;
}
a:hover,
a:focus {
	color: #0cb;
}